DateTime==4.4
decorator==4.4.2
deepl==1.6.0
deepl-cli==0.2.1
dlib==19.23.1
einops
ftfy
gdown
google-auth
google-auth-oauthlib
hyperlink
lpips
matplotlib
matplotlib-inlin
numpy
oauthlib
omegaconf
opencv-python
pandas
pathtools
Pillow
pytorch-lightning
pytorch-pretrained-biggan
PyYAML
regex
requests
six
torch
torchaudio
torchmetrics
torchvision
tornado
tqdm
Twisted
urllib3
wandb
